*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
}

#logo{
    /* display: flex;
    justify-content: center; */
    width: 15rem;
    height: 10rem;
}

.searchBox{
    display: block;
    margin-top: 10%;
    text-align: center;
    border-radius: 0 8px 8px 0;
    border: 0;
    height: 36px;
    padding: 8px;
}

#pokemonName{
    background-color: rgb(79, 183, 183);
}

.pokemonBox{
    display: block;
    margin-top: 12rem;
    text-align: center;
}

.pokemonBox img{
    width: 200px;
}

.pokemonBox p{
    margin-top: 1rem;
}

.pokemonBox .pokemonInfos{
    padding: 2rem;
}

.moves{
    list-style-type: none;
}